@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Inter', sans-serif;
    background-color:#ffff;
    color:#252C32;
  }
  
  nav {
    text-align: center;
    background-color:#FfFfFf;
    color:#252C32;
    padding: 20px;
    display: flex;
    gap:30px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
  }
  
  .nav-icon {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
  }
  
  .nav-links {
    padding-right: 50px;
  }
  
  .nav-links a {
    background-color: #1b9808;
    padding: 12px 24px;
    color: #ffff;
    border-radius: 8px;
    text-decoration: none;
  }
  main img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-top: 10px;
  }
  
  main {
    margin-block: 70px;
    margin-inline: auto;
    padding: 14px;
    border: 1px solid #17d734;
    width: 700px;
    border-radius: 6px;
  }
  
  h2 {
    font-size: 18px;
    color:
  }
  
  p {
    font-size: 16px;
    color: #131313b2;
    margin-bottom: 20px;
  }
  
  @media screen and (max-width: 968px) {
    nav {
      width: 100%;
      flex-direction: column;
      padding-bottom: 50px;
    }
  
    main img {
      width: 100px;
      height: 100px;
    }
  
    nav h1 {
      font-size: 18px;
      text-align: left;
    }
  
    .nav-icon {
      padding-right: 10px;
      padding-left: 40px;
    }
  
    .nav-links a {
      font-size: 14px;
      width: 100%;
      margin-bottom:30px;
    }
  
    main {
      width: 90%;
      margin: 53px 20px;
    }
  }